{% extends "base.html" %}
{% block body %}

<div class="container">
  <br>
  <div class="load-container"><div class="loader"></div></div>
  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  <h2> Going through the video. </h2>
  <h3>This can take less than a minute if the video is short (i.e. less than 10 minutes long).<br>
  However, higher resolutions and longer videos can take longer.</h3>

</div>

<style>
.load-container{
  width: 100%;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
function queryResults() {
  console.log("{{ joburl }}");
  $(function() {
    $.ajax({
      url: window.location.protocol + window.location.host + "{{ joburl }}",
      type: "POST",
      success: function (response){
          //window.location.replace(response);
          location.reload();
          //$("html").html(response);
        },
      error: function (){
          //nothing
        }
      })
  });
}
setInterval(queryResults, 15000);
</script>
{% endblock %}